*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 20px;
  /* line-height: 34px; */
  letter-spacing: -0.33px;
  color: #fff;
  overflow-x: hidden;
}
main {
  flex-grow: 1;
}
main,
header,
footer {
  width: 100%;
}
a {
  text-decoration: none;
  color: #3d3d3d;
}
a:hover {
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
span {
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 1px;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  letter-spacing: -0.33px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1px;
  padding: 0;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.64px;
}
ul li {
  list-style-type: none;
  /* wrapper for all */
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 200px auto;
}
/*MAIN****************************************** */
.main {
  margin: 0 auto;
}
.grid {
  display: grid;
  /* ширина трьох колонок */
  /* grid-template-columns: 1fr 1fr 250px; */
  /* grid-template-columns: 100px repeat(2, 1fr 2fr); */
  /* grid-template-columns: minmax(50px, 200px) 1fr 1fr; */
  /* auto-fill дає можливість переносу колонок при зміні розширення при мінімумі ширини в 150px */
  /* auto-fill/auto-fit */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* висота трьох рядків */
  grid-template-rows: 50px 50px 50px;
  /* висота рядків по замовчуванню*/
  grid-auto-rows: minmax(80px, auto);
  /* grid-auto-rows: 70px; */
  /* відстань між колонками */
  /* grid-column-gap: 20px; */
  /* відстань між рядками */
  /* grid-row-gap: 10px; */
  /* відстань між рядками та колонками */
  grid-gap: 15px;
  /* переводить в column/row */
  /* grid-auto-flow: column; */
  /* ============== */
  /* розміщення елементів: start/end/center/stretch*/
  /* по осі Y */
  align-items: stretch;
  /* по осі X */
  justify-items: stretch;
}
.grid div {
  /* width: 200px; */
  /* height: 50px; */
  text-align: center;
  background-color: blue;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
}
/* управляння початку і закінчення елемента фракції */
.grid div:nth-child(1) {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* скорочено: */
  /* розвернення першої фракнії на всю ширину блока */
  grid-column: 1 / -1;
}
/* grid-row задає місце фракції в строці */
.grid div:nth-child(2) {
  grid-column: 1;
  grid-row: 3;
  /* управління елементом */
  align-self: center;
  justify-self: center;
}
.grid div:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}
/* footer*********************************** */

/*************************************************************/
/* @media all and (max-width: 1930px) {
  body {
  }
  .header-burger__submenu {
    width: 10em;
  }
} */
